@font-face {
	font-family: Bebas;
	src: url(./assets/Bebas.ttf);
}

@font-face {
	font-family: PlaylistScript;
	src: url(./assets/Playlist-Script.otf);
}

.hidden {
	display: none;
}

.App {
    font-family: 'Roboto', sans-serif;
}

.App-header {
	padding: 20px;
}

.App-logo {
	height: 250px;
	margin-left: 20px;
}

.tagbox {
	float: right;
	text-align: right;
	position: static;
}


.social-logo {
	height: 40px;
	padding: 10px;
}

.yelp-logo {
	height: 70px;
	padding: 10px;
}

.yelp-logo:hover, .yelp-logo:active, .social-logo:hover, .social-logo:active {
	filter: brightness(1.5);
}

.tagline {
	font-family: 'PlaylistScript';
	font-size: 40px;
	float: right;
	padding-left: 20px;
}

.spicy-header {
	font-family: 'PlaylistScript';
	font-size: 27px;
	padding: 20px;
}


main {
	text-align: center;
	margin: auto;
	width: 70%;
	padding: 50px 10px;
}

nav {
  font-family: "Lato", sans-serif;
  padding: 1% 0;

/*  blackish*/
  color: #040706;

/*  light blue*/
  background-color: #B7DBF5;
}

.navlink {
	color: #040706;
	text-decoration: none;
	margin: auto;
	padding: 25px 10px;
	position: relative;
	top: -22px;
}

.navlink:hover, .navlink:active {
	background-color: white;
}

.desktopNav {
  column-count: 8;
  margin-left: auto;
  display: flex;
  font-size: 16px;
  height: 25px;
}

h1, h2 {
	font-family: 'Bebas';
	letter-spacing: 3px;
}

.article {
	max-width: 700px;
	margin: auto;
}

p {
	font-size: 16px;
	line-height: 25px;
}

.about-list {
	text-align: left;
	list-style: none;
	line-height: 25px;
	font-size: 15px;
}

.about-list li {
	display: flex;
	padding: 15px;
}

.about-text {
	padding-top: 10px;
}

.bullet {
	padding-right: 25px;
}

.headshot {
	height: 250px;
	border-radius: 50%;
	border: 5px solid #CC8E83;
	margin-bottom:30px;
}

button, .naving-button {
	background-color: #CC8E83;
	color: #040706;
	padding: 12px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;

}

button:hover, button:active, .naving-button:hover, .naving-button:active {
	background-color: #B7DBF5;	
}

ul {
	padding-left: 0px;
}

.Q-holder, .price-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.aQ {
	border: #CC8E83 solid 2px;
	border-radius: 3px;
	width: 400px;
	margin: 15px;
}

.price-item {
	border: #349EDB solid 2px;
	border-radius: 3px;
	width: 400px;
	margin: 15px;
}

.aQ p, .price-item p {
	margin: 25px;
}

.aQ h3 {
	margin: 0px;
	background-color: #CC8E83;
	padding: 25px;
	height: 70px;
}


.price-item h3 {
	margin: 0px;
	background-color: #B7DBF5;
	padding: 25px;
	height: 20px;
}

.imagine {
	width: 30vw;
	float: right;
	border: #CC8E83 solid 2px;
	border-radius: 3px;
	margin: 20px;
}

.buy-now {
	position: fixed;
	right: 20%;
}

